/* GIF INDEX PAGE */
.gif-index {
  margin: 0 1.8vw;
}

.query {
  font-size: 2.4em;
}

/* allows for responsive and mosaic view */
.masonry {
  column-count: 3;
	margin: 1.5em auto;
	max-width: 1200px;
  column-gap: 1.7em;
}

@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 4;
  }
}

/* medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .masonry {
    column-count: 3;
  }
}

/* small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
  .masonry {
    column-count: 2;
  }
}

@media only screen and (max-width: 539px) {
  .masonry {
    column-count: 1;
  }
}

.gif-img {
  cursor: pointer;
  display: inline-block;
  margin: 1.5em 0;
  width: 100%;
}
